<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Word Generator</title>
    <style media="screen">
      .randomword{
        border:1px solid black;
        height:250px;
        width:400px;
        font-size: 40px;
        margin:0px auto;
        line-height: 125px;
      }
      *{
        text-align: center;
        font-family: sans-serif;
      }
      form{
        margin-top: 10px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Random Word (attempt #{{attempt}})</h1>
    <div class="randomword">
      {{random}}
    </div>
    <form class="" action="/" method="GET">
      <input type="submit" value="Generate">
    </form>
    <form class="" action="random_word/reset" method="GET">
      <input type="submit" value="Reset">
    </form>
  </body>
</html>
