<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email Validation with MySQL and Flask!</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <p class="fail">{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form class="" action="/email_validation" method="POST">
      Email:<input name="email" type="text">
      <input type="submit">
    </form>
  </body>
</html>
