*{
  text-align: center;
  font-family: sans-serif;
}
h1{
  color:black;
  text-shadow: 1px 1px;
  font-size: 50px;
}
h5{
  color:red;
}
input{
  width:100px;
  height:50px;
  margin:10px;
  border-radius:10px;
}
div{
  width:600px;
  height:400px;
  background: -webkit-linear-gradient(rgb(232, 206, 11),rgb(165, 146, 0));
  display:inline-block;
  box-shadow: 5px 5px 5px;
}
