<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amadon</title>
    <style media="screen">
      h1{
        font-family: sans-serif;
      }
      .action{
        width:100px;
      }
      select{
        width:40px;
      }
      table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td, th {
      border: 2px solid #dddddd;
      text-align: left;
      padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      thead{
        background-color:rgb(145, 145, 145);
      }

    </style>
  </head>
  <body>
    <h1>Amadon Store!</h1>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dojo Shirt</td>
          <td>$19.99</td>
          <td class="action"><form class="" action="/amadon/buy" method="post">
            {% csrf_token %}
            <select name="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <input hidden name="product_id" value="1">
            <input type="submit" value="Buy!">
          </form></td>
        </tr>
        <tr>
          <td>Dojo Sweater</td>
          <td>$29.99</td>
          <td class="action"><form class="" action="/amadon/buy" method="post">
            {% csrf_token %}
            <select name="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <input hidden name="product_id" value="2">
            <input type="submit" value="Buy!">
          </form></td>
        </tr>
        <tr>
          <td>Dojo Cup</td>
          <td>$19.99</td>
          <td class="action"><form class="" action="/amadon/buy" method="post">
            {% csrf_token %}
            <select name="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <input hidden name="product_id" value="3">
            <input type="submit" value="Buy!">
          </form></td>
        </tr>
        <tr>
          <td>Algorithm Book</td>
          <td>$49.99</td>
          <td class="action"><form class="" action="/amadon/buy" method="post">
            {% csrf_token %}
            <select name="quantity">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <input hidden name="product_id" value="4">
            <input type="submit" value="Buy!">
          </form></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
