<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login & Reg | Home</title>
    <style media="screen">
      *{
        font-family: sans-serif;
      }
      label{
        margin-left: 10px;
        margin-bottom: 5px;
        width:100px;
        display:inline-block;
      }
      .errors{
        color:red
      }
    </style>
  </head>
  <body>
    <h1>Registration</h1>
    {% if messages %}
      <div class="errors">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <form class="" action="/register" method="post">
      {% csrf_token %}
      <label for="first_name">First Name:</label> <input type="text" name="first_name"><br>
      <label for="last_name">Last Name:</label> <input type="text" name="last_name" value=""><br>
      <label for="email">Email:</label> <input type="text" name="email" value=""><br>
      <label for="pw">Password:</label> <input type="password" name="pw" value=""><br>
      <label for="pw_c">Confirm PW:</label> <input type="password" name="pw_c" value=""><br>
      <input type="submit" value="Register">
    </form>
    <h1>Login</h1>
    <form class="" action="/login" method="post">
      {% csrf_token %}
      <label for="email">Email:</label><input type="text" name="email" value=""><br>
      <label for="pw">Password:</label><input type="password" name="pw" value="">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
