<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Reviews</title>
    <style media="screen">
    .header{
      width: 100%;
      display: inline-block;
    }
    .header a{
      float: right;
      margin:5px;
    }
    .reviews a{
        margin:10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <a href="/books">Home</a>
      <a href="/logout">Logout</a>
    </div>
    <h3>User Alias: {{user.alias}}</h3>
    <h4>Name: {{user.name}}</h4>
    <h4>Email: {{user.email}}</h4>
    <h4>Total Reviews: {{total_reviews}}</h4>
    <div class="reviews">
      <h4>Posted Reviews on the following books:</h4>
      {% for reviews in reviews %}
        <a href="/books/{{reviews.book.id}}">{{reviews.book.title}}</a>
      {% endfor %}
    </div>
  </body>
</html>
