<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey Index</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css2')}}">
  </head>
  <body>
    <form class="" action="/result" method="POST">
      Your Name: <input type="text" name="name">
      <br>
      Dojo Location:
      <select name="location">
        <option value="San Jose">San Jose</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Chicago">Chicago</option>
        <option value="New York">New York</option>
      </select>
      <br>
      Favorite Langugae:
      <select name="language">
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="C#">C#</option>
      </select>
      <br>
      Comment (optional):
      <br>
      <textarea name="comment"></textarea>
      <br>
      <input type="submit">
    </form>
  </body>
</html>
